<header class="masthead mb-auto">
    <div class="inner">
        <a href="/" class="index-link">
            <h3 class="masthead-brand"><%= title %></h3>
        </a>
        <nav class="nav nav-masthead justify-content-center" id="link">
            <a class="nav-link" href="/todos">Todos</a>
            <a class="nav-link" href="/write">Write</a>
            <% if(user) {%>
                <a class="nav-link" href="/logout">Logout</a>
            <% }else { %>
                <a class="nav-link" href="/login">Login</a>
            <% } %>
        </nav>
    </div>
</header>
<script type="text/javascript">
    //Active Script
    (() => {
        var links = document.getElementById("link").children;
        var url = window.location.pathname;
        Array.from(links).map(item => {
            const {
                attributes: {
                    href: { nodeValue }
                }
            } = item;
            if (nodeValue === url) {
                item.className += " active";
            }
        });
    })();
</script>