<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body class="text-center text-light">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <% include ./components/links.ejs %>

        <main role="login" class="inner cover">
          <h1 class="cover-heading"><%= title%></h1>
          <h3>Login for your Todos.</h3>
          <br />
          <form id="Login" action="/login" method="post">
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
            </div>
            <div>
              <a href="/signup">Don't you have account?</a>
            </div>
            <% if(message.length > 0) {%>
              <div class= "alert alert-danger"><%= message %></div>
            <% } %>
            <button type="submit" name="submit" class="btn btn-primary">Login</button>
          </form>
        </main>

        <% include ./components/footer.ejs %>
      </div> 
  </body>
</html>
