<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./components/setup.ejs %>
  </head>
  <body class="text-center text-light">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <% include ./components/links.ejs %>

        <main role="login" class="inner cover">
          <h1 class="cover-heading"><%= title%></h1>
          <h3>Login for your Todos.</h3>
          <br />
          <form action="/signup" method="post">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email Address" name="email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
              <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <% if(message.length > 0) {%>
              <div class= "alert alert-danger"><%= message %></div>
            <% } %>
            <button type="submit" name="submit" class="btn btn-primary">Sign up</button>
          </form>
        </main>

        <% include ./components/footer.ejs %>
      </div> 
  </body>
</html>
