<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./components/setup.ejs %>
  </head>
  <body class="text-center text-light">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <% include ./components/links.ejs %>

        <main role="todos" class="inner cover">
          <%for(var i=0;i<todos.length;i++){%>
             <%- include('./components/todo.ejs', {todo: todos[i]}); %>
          <%}%>
        </main>

        <% include ./components/footer.ejs %>
      </div>
      <script src="/javascripts/todos.js"></script>
      <script>
        function check_click(dom){
          console.log(dom);
        }
      </script>
  </body>
</html>
